<div class="tamano animated fadeIn fast">
    <h1 class="letras">SOBRE HEROES</h1>
    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eveniet mollitia architecto voluptatibus deleniti adipisci rerum nihil incidunt autem! Exercitationem optio aliquid error, delectus iste porro veritatis non officia laudantium.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam voluptatum vel pariatur placeat, suscipit culpa eius rerum debitis, error adipisci sapiente. Earum sint recusandae sed doloremque in mollitia dicta facilis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam voluptatum vel pariatur placeat, suscipit culpa eius rerum debitis, error adipisci sapiente. Earum sint recusandae sed doloremque in mollitia dicta facilis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam voluptatum vel pariatur placeat, suscipit culpa eius rerum debitis, error adipisci sapiente. Earum sint recusandae sed doloremque in mollitia dicta facilis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam voluptatum vel pariatur placeat, suscipit culpa eius rerum debitis, error adipisci sapiente. Earum sint recusandae sed doloremque in mollitia dicta facilis.</p>
</div>